:host {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    width: 100%;
  }
  